<radio-icon-list ng-model="$ctrl.foo">
    <radio-icon
        name="foo"
        value="1">
        Item 1
    </radio-icon>
    <radio-icon
        name="foo"
        value="2">
        Item 2
    </radio-icon>
    <radio-icon
        name="foo"
        value="3">
        Item 3
    </radio-icon>
    <radio-icon
        name="foo"
        value="4">
        Item 4
    </radio-icon>
    <radio-icon
        name="foo"
        value="5">
        Item 5
    </radio-icon>
    <radio-icon
        name="foo"
        value="6">
        Item 6
    </radio-icon>
</radio-icon-list>