radio-icon {
    display: block;
}

.radio-icon {    
    margin-bottom: 10px;

    &__input {
    }

    &__label {
        padding: 10px;
        background: #ccc;
        display: inline-block;
    }

    &__input:checked + &__label,
    &--active &__label {
        background: #006699;
    }
}